*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit";
    font-size: 15px;
}

.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: white;
    width: 25vw;
    height: 80vh;
    padding: 2px;
    border-radius: 4%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    display: flex;
    flex-direction: column;
    
}

img{
    height: 50vh;
    border-radius: 4%;
    margin: 4%;
}

.txt{
    font-size: 15px;
    margin: 0% 10% 0% 10%;
    color: hsl(220, 15%, 55%);
    text-align: center;
}

.top{
    font-weight: 700;
    font-size: 20px;
    color: hsl(218, 44%, 22%);
}

a{
    text-decoration: none;
    color: hsl(217, 46%, 35%);
}